<ion-view title="Add Poll">

    <ion-nav-bar class="bar-clear nav-title-slide-ios7">
        <ion-nav-back-button class="button button-clear "><i class="icon ion-ios7-arrow-back"></i> Back
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="submit()">Done</button>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content  class="create-carpool" style="padding: 0">

        <ion-list  show-reorder="true">

            <div class="row range-values">
                <div class="col">
                    100m
                </div>
                <div class="col">
                    300m
                </div>
                <div class="col">
                    500m
                </div>
                <div class="col">
                    700m
                </div>
                <div class="col">
                    1000m
                </div>
            </div>

            <div class="item range range-energized poll option" style="border: none" >



                <input ng-model="data.rangeValue" type="range" name="time" min="0" max="4"
                       value="{{ data.rangeValue }}">
            </div>


            <div class="item item-divider">
                Question
            </div>

            <label class="item item-input poll option">
                <textarea placeholder="Poll description" rows="2" style="font-size: 1.5em;line-height: 1.5em"></textarea>
            </label>
            <div class="item item-divider">
                Options
            </div>

            <ion-item ng-repeat="item in items" class="poll option">
                <div class="option-item">
                    <a ng-click="removeOption($index)"  class="button button-inline icon-left ion-ios-minus button-icon button-assertive"></a>
                    <input   type="text" placeholder="option">
                </div>



                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>

            <ion-item class="poll option">
                    <a ng-click="addOption()" class="button icon-left ion-ios-plus button-icon button-energized">add</a>


                <ion-reorder-button class="ion-navicon">
                </ion-reorder-button>
            </ion-item>

        </ion-list>
    </ion-content>


</ion-view>


