<ion-view view-title="Discover">
  <div class="bar bar-subheader" style="background:rgb(232,232,232);height: auto;;padding: 10px;border-top: 1px solid rgb(129,129.129)">
    <!--<h2 class="title">Sub Header</h2>-->
    <div>
      <label class="item item-input" >
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" style="height: auto;">
      </label>
    </div>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item-avatar item-discover" ng-repeat="playlist in playlists" >
        <img src="img/profilePlaceholder.png">
        <h2>Poll title</h2>
        <p>User</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
