<ion-view view-title="Discover" class="font-smoothing">
  <div class="bar bar-subheader" style="background:rgb(232,232,232);height: auto;;padding: 10px;border-top: 1px solid rgb(129,129.129)">
    <!--<h2 class="title">Sub Header</h2>-->
    <div>
      <label class="item item-input item-searchbar" >

        <input type="text" placeholder="" style="height: auto;" ng-model="searchText">
          <i class="icon  ion-search placeholder-icon app-color"></i>
      </label>
    </div>
  </div>
  <ion-content has-bouncing="false" delegate-handle="poll-list"  class="has-subheader" on-scroll="scrolling()">
    <ion-list>
      <ion-item class="item-avatar item-discover font-smoothing" collection-repeat="poll in polls | filter:searchText" >
        <img ng-src="{{poll.image}}">
        <h2>{{ poll.poll }}</h2>
        <p>{{poll.user}}</p>
          <div class="distance">
              <i class="icon ion-navigate app-color"></i>
              &nbsp; &lt;{{poll.distance}}
          </div>
          <div class="linebox"></div>
      </ion-item>
    </ion-list>


  </ion-content>
    <div  ng-show="!isAddButtonHidden" class="btn-round "><span>+</span></div>

    <!--<div class="add-poll"><i class="icon ion-plus-circled"></i></div>-->
</ion-view>
