<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">  
    <div class="login-container">
      <img class="login-icon" src="../img/icon.png"/>
      <div class="login-buttons">
        <button class="button button-outline button-block button-energized">
          Login with Facebook
        </button>
        <button class="button button-outline button-block button-energized">
          Login with Twitter
        </button>
        <button class="button button-outline button-block button-energized">
          Login with Email
        </button>
      </div>
    </div>    
  </ion-content>
</ion-modal-view>
