<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Email Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="emailLoginForm" novalidate ng-submit="doEmailLogin(emailLoginForm.$valid)" class="padding">
      <div class="list">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="loginData.email" required/>
          <i class="icon ion-close-circled assertive input-invalid-icon"></i>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password" required/>
          <i class="icon ion-close-circled assertive input-invalid-icon"></i>
        </label>
        <label class="item item-submit">
          <button class="button button-block button-energized" type="submit">Sign in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
