<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Email Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" class="padding">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <label class="item item-submit">
          <button class="button button-block button-energized" type="submit">Sign in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
