<ion-nav-view title=""> 
  <ion-content scroll="false">  
    <div class="login-container">
      <img class="login-icon" src="../img/icon.png"/>
      <div class="login-buttons">
        <a class="button button-outline button-block button-energized">
          Login with Facebook
        </a>
        <a class="button button-outline button-block button-energized">
          Login with Twitter
        </a>
        <a class="button button-outline button-block button-energized" ng-click="openEmailLogin()">
          Login with Email
        </a>
      </div>
    </div>    
  </ion-content>
</ion-nav-view>
