<ion-view title="Vote">
  <ion-nav-bar class="bar bar-header">
    <ion-nav-back-button class="button button-clear "><i class="icon ion-ios-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content id="pollView">
    <p class="padding">{{ poll.poll }}</p>
    <div class="row poll-option" collection-repeat="option in poll.options" >
      <div class="col-offset-10 col-80">
        <button class=" button button-block button-outline button-energized"> {{ option }}</button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button id="reportButton" class="button button-clear button-dark col-offset-33">
      <i class="icon ion-alert-circled"></i>
      Report poll
    </button>
  </ion-footer-bar>
</ion-view>


