
.btn-round {
  background-color: $energized;
  border-radius: 60px;
  -webkit-transition: 0.1s linear all; /* Chrome */
  transition: 0.1s linear all;
  width: 60px;
  height: 60px;
  bottom:30px;
  left:50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 60px;
  font-size: 3em;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  span {
    position: absolute;
    left: 0;
    //top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    //margin-top: -22px;
    color: #FFF;
  }
}

.btn-round.ng-hide{
  -webkit-transform: translate(-50%, 100%);

  transform: translate(-50%, 100%);

}

.animate-enter.animate-enter-active {
  opacity: 1;
}