$item-avatar-width:               60px !default;
$item-avatar-height:              60px !default;

$font-family-source-sans:         "Source Sans Pro", "Roboto", sans-serif !default;
$font-family-light-sans-serif:    "Source Sans Pro", "Roboto-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-source-sans !default;

$item-distance-height: 50px;
$item-distance-width: 100px;

$app-color : rgb(236,195,54);