@import "bar";
@import "_items";
@import "_login";
@import "_discover";
@import "_createpoll";
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-color{
  color:rgb(236,195,54);
}

.bar {
  &.bar-clear {
    .button {
      color: $energized;
    }
  }
}